@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --preto: #0f0f0f;
    --vermelho: #e63946;
    --branco: #ffffff;
    --cinza: #1c1c1c;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cinza);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    margin-bottom: 80px;

    background-color: var(--preto);
}

.logo {
    height: 110px;
}

.navegacao {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 20px;
}

.link-menu {
    text-decoration: none;
    color: #FFFF;
    
    transition: 0.3s ease;
}

.link-menu:hover {
    color: red;
}

.hero {
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url("/imagens/hero-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    width: 100%;
    height: 80vh;
}

.titulo-hero {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFF;
    margin-bottom: 20px;
}

.descricao-hero {
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 400;
}

.botao-hero {
    background-color: var(--vermelho);
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 700;

    margin-top: 10rem;
    padding: 20px;

    border-radius: 10px;
    border: 2px solid black;

    transition: 0.4s ease;

    text-decoration: none;
}

.botao-hero:hover {
    transform: translateY(-3px) scale(1.03);
    background-color: #ff4d5a;
}

.beneficios {
    margin: 120px auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-size: cover;
    text-align: center;

    margin-bottom: 40px;
}

.cards {
    flex: 1;
    box-shadow: 2px 2px 8px black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s ease;
    background-color: var(--preto);
}

.cards:hover {
    transform: translateY(-3px) scale(1.03);
}

.cards img {
    width: 100%;
}

.cards h2 {
    color: var(--branco);
    padding: 10px;
    font-weight: 600;
}

.cards p {
    color: var(--branco);
    padding: 8px;
    font-weight: 400;
}

.planos-section {
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
    text-align: center;

    background-color: var(--preto);
    border-radius: 15px;
    padding: 20px;

    box-shadow: 2px 2px 8px black;
}

.planos-section h2 {
    color: var(--vermelho);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px;
}

.container-planos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cards-planos {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin: 20px auto;
    background-color: var(--vermelho);
    
    border: 2px solid black;
}

.cards-planos h3 {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.cards-planos ul {
    margin: auto;
    padding: 15px;

    font-weight: 300;
    font-size: 1.2rem;

    color: var(--preto);
    list-style: none;
}

.preco-plano {
    font-weight: 600;
    font-size: 1.3rem;
}

#plano-basico {
    background-color: #1c1c1c;
    color: white;
}

#plano-basico ul {
    color: white;
}

#mais-vendido {
    width: 500px;
    border: 2px solid var(--branco);
    background-color: var(--vermelho);
    color: white;
}

#mais-vendido ul {
    color: white;
}

.mais-vendido {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px;
}

#plano-vip {
    background-color: #2b2b2b;
    color: white;
}

#plano-vip ul {
    color: white;
}

.contato {
    width: 60%;
    margin: 40px auto;
    text-align: center;

    border-radius: 8px;
    box-shadow: 2px 2px 8px black;

    background-color: var(--preto);
    padding: 20px;
    
    color: var(--branco);
}

.contato h2 {
    color: var(--vermelho);
    font-weight: 600;
}

.contato p {
    padding: 5px;
}

footer {
    width: 100%;
    margin: auto;
    background-color: var(--vermelho);
    padding: 20px;

    border-radius: 8px;
}

footer h3 {
    text-align: center;
    padding: 8px;

    font-weight: 600;
    font-size: 1.2rem;
}

footer p {
    text-align: center;
    padding: 2px;
    margin-bottom: 15px;
}

.redes {
    text-align: center;
}

.redes a {
    text-decoration: none;
    color: var(--branco);
    padding: 8px;
    transition: 0.3s ease;
}

.redes a:hover {
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 8px;
}

@media (max-width: 768px) {
    
    .titulo-hero {
        font-size: 1.8rem;
    }

    .descricao-hero {
        font-size: 1.0rem;
    }

    .beneficios {
        flex-direction: column;
        align-items: center;
    }

    .beneficios p {
        font-size: 1.3rem;
    }

    .container-planos {
        flex-direction: column;
        align-items: center;
    }

    .cards p {
        font-size: 13px;
    }

    .cards-planos {
        width: 300px;
    }

    .cards-planos h2 {
        font-size: 1.8rem;
    }

    #mais-vendido {
        width: 400px;
    }

    .cards-planos ul {
        font-size: 13px;
    }
}